@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
}

@layer base {
  body {
    margin-left: 10px;
    margin-right: 10px;
  }

  .underline-hover a {
    @apply hover:underline;
    margin-left: 5px;
    margin-right: 5px;
  }

  .max-h {
    max-height: 420px;
  }

  .items div {
    @apply border-r-2 text-center;
    flex: 25%;
  }

  .items {
    @apply justify-center;
  }

  .items div:last-child {
    @apply border-0;
  }

  .items div h1 {
    @apply text-xl font-bold;
  }

  .items div p {
    @apply text-sm;
  }

  .cards div {
    @apply shadow-2xl m-2 p-0 bg-white rounded-md overflow-hidden;
    min-width: 250px;
    flex: 20%;
  }

  .cards div img {
    @apply w-full object-cover;
    height: 200px;
  }

  .cards div div {
    @apply p-4 m-0 h-full;
  }

  .cards div div h1 {
    @apply font-bold text-xl mb-2;
  }

  .cards div div p {
    @apply text-sm;
  }
}

::-webkit-scrollbar {
  width: 0;
}
